
extends layout

block content

    link(rel="stylesheet", href="/assets/stylesheets/dashboard.css")

    div.pop-out(id='pop-out')

        p.pop-out-header Daplex

        ul#super-list.nav-list
            li.nav-item
                a(value="0") Energi
            li.nav-item
                a(value="1") Tilstand
            li.nav-item
                a(value="2") Helpdesk

    div.pop-out(id='pop-out1')
        p.pop-out-header(id='pop-out-header1') Bygningstyper
        ul#building-list.nav-list
            each propertyType, index in propertyTypes
                li.nav-item
                    - var indexString = "" + index
                        a(value=indexString) #{propertyType.type_id} #{propertyType.name}



    div.pop-out(id='pop-out2-energy')
        p.pop-out-header Kategorier
        ul#category-list-energy.nav-list

            li.nav-item
                a(value="0") El
            li.nav-item
                a(value="1") Vand
            li.nav-item
                a(value="2") Varme


    div.pop-out(id='pop-out2-condition')
        p.pop-out-header Kategorier
        ul#category-list-condition.nav-list
            each conditionCategory in conditionCategories
                li.nav-item
                    - var indexString = "" + index
                    a(value=indexString) #{conditionCategory.name}

    div.pop-out(id='pop-out2-helpdesk')
        p.pop-out-header Kategorier
        ul#category-list-helpdesk.nav-list
            each helpdeskCategory, index in helpdeskCategories
                li.nav-item
                    - var indexString = "" + index
                    a(value=indexString) #{helpdeskCategory.name}

    div.pop-out(id='pop-out3')
        p.pop-out-header(id='pop-out-header3') Vægtning

            form.input-container(id='submitForm' name="inputForm" onSubmit='return saveInputData()')
                label Gul grænseværdi
                input(type="number" id="thresholdYellow" name='yellowThreshold' value= helpdeskThresholdData.threshold_yellow)
                label Rød grænseværdi
                input(type="number" id="thresholdRed" name='redThreshold' value= helpdeskThresholdData.threshold_red)
                input(type="hidden" name='category' id='formCategory')

                div.slide-container
                    label(for="weightslider" id='weightslider') Vægtning
                    input(type="range" min="0" max="100" value="50" class="slider" id="myRange" name='weightslider')

                button(type="submit" value='Submit') Gem



    //div.pop-out(id='pop-out')
    //    p.pop-out-header(id='pop-out-header') Header
    //
    //    select(id='property-types')
    //        option(value=0 id='all-property-types') Alle Bygningstyper
    //            each propertyType in propertyTypes
    //                option(value=propertyType.id) #{propertyType.name} #{propertyType.type_id}
    //
    //    select(id='helpdesk-category')
    //        option(value=0 id='category-helpdesk-global') Global Helpdesk
    //            each helpdeskCategory in helpdeskCategories
    //                option(value=helpdeskCategory.id) #{helpdeskCategory.name}
    //
    //    select(id='condition-category')
    //        option(value=0 id='category-condition-global') Global Tilstand
    //            each conditionCategory in conditionCategories
    //                option(value=conditionCategory.id) #{conditionCategory.name}
    //
    //    select(id='energy-category')
    //        option(value=0 id='category-energy-global') Global Energi
    //        option(value=1 id='category-electricity') El
    //        option(value=2 id='category-water') Vand
    //        option(value=3 id='category-heat') Varme
    //
    //    form.input-container(id='submitForm' name="inputForm" onSubmit='return saveInputData()')
    //        label Gul grænseværdi
    //        input(type="number" id="thresholdYellow" name='yellowThreshold' value= helpdeskThresholdData.threshold_yellow)
    //        label Rød grænseværdi
    //        input(type="number" id="thresholdRed" name='redThreshold' value= helpdeskThresholdData.threshold_red)
    //        input(type="hidden" name='category' id='formCategory')
    //
    //        div.slide-container
    //            label(for="weightslider" id='weightslider') Vægtning
    //            input(type="range" min="0" max="100" value="50" class="slider" id="myRange" name='weightslider')
    //
    //        button(type="submit" value='Submit') Gem
            
     
    script(src="/assets/javascripts/dashboard.js")

    
              
        

