extends layout



block content
    link(rel="stylesheet", href="/assets/stylesheets/slider.css")
    H1 Vægtning Overordnet
    button
        a(href="http://localhost:3000/") Home
    form(action="/weightUI/overall", method="post")
        select#select(name = `select`)
            option(value='420') Skole
            option(value='440') Dag Institutioner
        +slider('Tilstand', 'tilsBullet', "tilsSlider", `${values[0]}`, `${left_array[0]}`)
        +slider('Energi', 'energiBullet', 'energiSlider', `${values[1]}`, `${left_array[1]}`)
        +slider('Helpdesk', 'helpBullet', 'helpSlider', `${values[2]}`, `${left_array[2]}`)
        input.btn(type="submit", value="Send data")
    script(src="/assets/javascripts/overallslider.js")

include slider