extends layout



block content
  link(rel="stylesheet", href="/assets/stylesheets/slider.css")
  H1 Vægtning Helpdesk
  button 
    a(href="http://localhost:3000/") Home
  form(action="/weightUI/helpdesk", method="post")
    select#select(name = `select`)
      option(value='420') Skole
      option(value='440') Dag Institutioner
    +slider('Indeklima', 'indeBullet', "indeSlider", `${values[0]}`)
    +slider('Tekniske anlæg', 'tekBullet',"tekSlider", `${values[1]}`)
    +slider('Udv. belægning', 'udvBullet', 'udvSlider', `${values[2]}`)
    +slider('Murværk og facade', 'murBullet', 'murSlider', `${values[3]}`)
    +slider('Tag', 'tagBullet', "tagSlider", `${values[4]}`)
    +slider('Udhæng og gavle', 'udBullet', "udSlider", `${values[5]}`)
    +slider('Tagdækning', 'tagDækBullet', "tagDækSlider", `${values[6]}`)
    +slider('Tagrender og nedløb', 'tagrenBullet', "tagrenSlider", `${values[7]}`)
    +slider('Vinduer og udv. Døre', 'vinBullet', "vinSlider", `${values[8]}`)
    +slider('Fundament og sokkel', 'funBullet', "funSlider", `${values[9]}`)
    input(type="submit", value="Send data") 
  script(src="/assets/javascripts/helpdeskslider.js")

include slider