extends layout



block content
  link(rel="stylesheet", href="/assets/stylesheets/common.css")
  link(rel="stylesheet", href="/assets/stylesheets/slider.css")
  H1 Vægtning Helpdesk
  a(href="http://localhost:3000/" class='btn') Home
  form(action="/weightUI/helpdesk", method="post")
    select#select(name = `select` class='categorySelect')
      option(value='420') Skole
      option(value='440') Dag Institutioner
    +slider('Indeklima', 'indeBullet', "indeSlider", `${values[0]}`, `${left_array[0]}`)
    +slider('Tekniske anlæg', 'tekBullet',"tekSlider", `${values[1]}`, `${left_array[1]}`)
    +slider('Udv. belægning', 'udvBullet', 'udvSlider', `${values[2]}`, `${left_array[2]}`)
    +slider('Murværk og facade', 'murBullet', 'murSlider', `${values[3]}`, `${left_array[3]}`)
    +slider('Tag', 'tagBullet', "tagSlider", `${values[4]}`, `${left_array[4]}`)
    +slider('Udhæng og gavle', 'udBullet', "udSlider", `${values[5]}`, `${left_array[5]}`)
    +slider('Tagdækning', 'tagDækBullet', "tagDækSlider", `${values[6]}`, `${left_array[6]}`)
    +slider('Tagrender og nedløb', 'tagrenBullet', "tagrenSlider", `${values[7]}`, `${left_array[7]}`)
    +slider('Vinduer og udv. Døre', 'vinBullet', "vinSlider", `${values[8]}`, `${left_array[8]}`)
    +slider('Fundament og sokkel', 'funBullet', "funSlider", `${values[9]}`, `${left_array[9]}`)
    input.btn(type="submit", value="Send data") 
  script(src="/assets/javascripts/helpdeskslider.js")

include slider