mixin slider(name, bullet, slider, value, style)
    .container
        .range-slider
        p= name
        input.range-slider__range(type='range' value=`${value}` min='0' max='100' step='1' name=`${slider}` id=`${slider}`)
        span.range-slider__value(value=`${value}` id=`${bullet}`) #{value}
        
        
        
        
        
        
        
        
        //.range-slider
            p= name
            span(id=`${bullet}` class=`rs-label` value=`${value}` min="0" max="100" style=`${style}`) #{value}
            input(id=`${slider}` class="rs-range" name=`${slider}` type='range' value=`${value}` min='0' max='100')
        //.box-minmax
            span 0
            span 100
